* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --minsize: 200px;
}
img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.gallery-container {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  max-width: 800px;
  margin: 0 auto;
}
.gallery-item {
  /* height: calc(var(--minsize) * 0.6); */
  box-shadow: 2px 2px 3px rgb(147, 192, 255);
  border: 1px solid #7fb2f9;
  overflow: hidden;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  filter: brightness(1) grayscale(0.3) blur(1px);
  transition: 0.7s;
  scale: 1.5;
}
.gallery-item img:hover {
  opacity: 1;
  /* filter: brightness(1.6) grayscale(1) blur(1px); */
  filter: brightness(1) grayscale(0);
  transition: all 0.8s;
  scale: 1.06;
}

/* .gallery-container img {
  filter: brightness(0.9) grayscale(0, 5) blur(3px);
  filter: brightness(1.6) grayscale(1) blur(3px);
  transition: all 0.8s;
  scale: 1.06;
} */
